{{> header}}

<main>
    <h1>Explorer</h1>
    <form action="/explore/search" method="get">
        <label for="searchInput">Search the Google's most comprehensive index of full-text books </label>
        <input type="text" id="searchInput" name="q" required>
        <button type="submit">Search Now</button>
    </form>

    <ul>
        {{#each displayedBooks}}
        <li>
            <div>
                {{log dbInfo}}
                <img src="{{this.picture}}" alt="{{this.title}}">
                <p><a href="{{this.link}}" target="_blank">{{this.title}} </a> by {{this.authors}} - {{this.genre}}</p>

                <form action="/explore/add" method="post">
                    <input type="hidden" name="title" value="{{this.title}}">
                    <input type="hidden" name="authors" value="{{this.authors}}">
                    <input type="hidden" name="genre" value="{{this.genre}}">
                    <input type="hidden" name="picture" value="{{this.picture}}">
                    <button type="submit">Add to Library</button>
                </form>

            </div>
        </li>


        {{/each}}
    </ul>

</main>