{{> header}}
<main>

    <h1>Libary</h1>
    {{#if usersBooks.length}}
    <ul>
        {{#each usersBooks}}
        <li>

            <img src="{{this.picture}}" alt="{{this.title}}">
            <p><a href="#" target="_blank">{{this.title}} </a> by {{this.authors}} - {{this.genre}}</p>
            <form action="/library/delete/{{_id}}" method="post">
                <button type="submit">Remove from Library</button>
            </form>

        </li>
        {{/each}}
    </ul>

    {{else}}
    <p>Your library is empty. Start adding books!</p>
    <a href="/explore" class="explore-btn">Explore Now?!</a>
    {{/if}}



</main>