{{> header}}
<br />
<main>

    <h1>Libary</h1>
    {{#if usersBooks.length}}
    <ul>
        {{#each usersBooks}}
        <div class="card mb-3" style="max-width: 350px">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{this.picture}}" class="img-fluid rounded-start" alt="{{this.title}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title"><a href="{{this.link}}" target="_blank">{{this.title}} </a></h6>
                        <p class="card-text">by {{this.authors}} - {{this.genre}}</p>
                        <div class="text-right">
                            <form action="/library/delete/{{_id}}" method="post">
                                <button type="submit" class="btn btn-success">Remove from Library</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        {{/each}}
    </ul>

    {{else}}
    <p>Your library is empty. Start adding books!</p>
    <a href="/explore" class="explore-btn">Explore Now?!</a>
    {{/if}}



</main>