{{> header}}
{{#unless isLoggedIn}}
<main>
    <h1>Libary</h1>
    {{#if books.length}}
    {{#each books}}
    <div class="books">
        <img src="{{this.bookId.picture}} alt=""{{this.bookId.title}}">
        <p>{{this.bookId.title}} by {{this.bookId.author}}</p>
        <button>Remove from library</button>

    </div>
    {{/each}}
    {{else}}
    <p>Your library is empty. Start adding books!</p>
    <a href="/api/explore" class="explore-btn">Explore Now?!</a>
    {{/if}}

</main>
{{/unless}}