{{> header}}
<main>

    <h1>Libary</h1>
    {{#if addedBook.length}}
    <ul>
        {{#each addedBook}}
        <li>
            <img src="{{this.picture}}" alt="{{this.title}}">
            <p><a href="{{this.link}}" target="_blank">{{this.title}} </a> by {{this.authors}} - {{this.genre}}</p>
        </li>
        {{/each}}
    </ul>

    {{else}}
    <p>Your library is empty. Start adding books!</p>
    <a href="/explore" class="explore-btn">Explore Now?!</a>
    {{/if}}



</main>


<script>

</script>