{{> header}}

<main>
    <h1>Search Results</h1>
    {{#if searchResult.length}}
    <ul>
        {{#each searchResult}}
        <li>
            <div class="search-results">
                <img src="{{picture}}" alt="{{title}}">
                <p><a href="{{link}}" target="_blank">{{title}} </a> by {{authors}} - {{genre}}</p>
                <form action="/api/explore/add" method="post">
                    <input type="hidden" name="title" value="{{title}}">
                    <input type="hidden" name="authors" value="{{authors}}">
                    <input type="hidden" name="genre" value="{{genre}}">
                    <input type="hidden" name="picture" value="{{picture}}">
                    <button type="submit">Add to Library</button>
                </form>
            </div>
        </li>
        {{/each}}
    </ul>
    {{/if}}
</main>








</main>